/* Basic separation of elements */
button,
div,
form,
input {
  margin: 10px;

}

/* Visible and clear text */
p,
h1,
label {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Background properties */
body{
  background-image: url("../images/GifTasticAnim.gif");
    
}

